In [3]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv(r'C:\Users\Administrator\Desktop\alex the da\warehouse_messy_data.csv'
                )
df

,Product ID,Product Name,Category,Warehouse,Location,Quantity,Price,Supplier,Status,Last Restocked
0,1102,gadget y,ELECTRONICS,Warehouse 2,Aisle 1,300,9.99,Supplier C,In Stock,NaN
1,1435,gadget y,ELECTRONICS,Warehouse 2,Aisle 4,two hundred,19.99,Supplier C,Out of Stock,NaN
2,1860,widget a,CLOTHING,Warehouse 2,Aisle 3,100,19.99,Supplier B,In Stock,20/12/2022
3,1270,gadget z,TOYS,Warehouse 2,Aisle 4,50,49.99,Supplier B,In Stock,20/12/2022
4,1106,widget a,FURNITURE,Warehouse 3,Aisle 3,two hundred,9.99,Supplier D,Out of Stock,25/04/2023
...,...,...,...,...,...,...,...,...,...,...
995,1009,widget b,FURNITURE,Warehouse 2,Aisle 2,100,NaN,Supplier C,In Stock,15/01/2023
996,1823,gadget y,ELECTRONICS,Warehouse 2,Aisle 3,300,19.99,Supplier B,In Stock,20/12/2022
997,1797,gadget z,TOYS,Warehouse 3,Aisle 5,150,9.99,Supplier C,Low Stock,05/03/2023
998,1241,widget c,FURNITURE,Warehouse 2,Aisle 2,100,49.99,Supplier C,Low Stock,20/12/2022
999,1250,widget a,CLOTHING,Warehouse 1,Aisle 3,100,49.99,Supplier B,Out of Stock,20/12/2022

In [9]:
df.columns

Index(['Product ID', 'Product Name', 'Category', 'Warehouse', 'Location',
       'Quantity', 'Price', 'Supplier', 'Status', 'Last Restocked'],
      dtype='object')

In [47]:
df['Category'] = df['Category'].str.capitalize()
df

,Product ID,Product Name,Category,Warehouse,Location,Quantity,Price,Supplier,Status,Last Restocked
0,1102,gadget y,Electronics,Warehouse 2,Aisle 1,300,9.99,Supplier C,In Stock,NaN
1,1435,gadget y,Electronics,Warehouse 2,Aisle 4,two hundred,19.99,Supplier C,Out of Stock,NaN
2,1860,widget a,Clothing,Warehouse 2,Aisle 3,100,19.99,Supplier B,In Stock,20/12/2022
3,1270,gadget z,Toys,Warehouse 2,Aisle 4,50,49.99,Supplier B,In Stock,20/12/2022
4,1106,widget a,Furniture,Warehouse 3,Aisle 3,two hundred,9.99,Supplier D,Out of Stock,25/04/2023
...,...,...,...,...,...,...,...,...,...,...
995,1009,widget b,Furniture,Warehouse 2,Aisle 2,100,NaN,Supplier C,In Stock,15/01/2023
996,1823,gadget y,Electronics,Warehouse 2,Aisle 3,300,19.99,Supplier B,In Stock,20/12/2022
997,1797,gadget z,Toys,Warehouse 3,Aisle 5,150,9.99,Supplier C,Low Stock,05/03/2023
998,1241,widget c,Furniture,Warehouse 2,Aisle 2,100,49.99,Supplier C,Low Stock,20/12/2022
999,1250,widget a,Clothing,Warehouse 1,Aisle 3,100,49.99,Supplier B,Out of Stock,20/12/2022

In [53]:
# working on the quantity column
df['Quantity'] = df['Quantity'].replace('two hundred', 200)
df['Quantity'] = df['Quantity'].replace('NaN', np.nan)
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')
#working on price column
df['Price'] = df['Price'].replace('NaN', np.nan)
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
#working on restocked column
df['Last Restocked'] = df['Last Restocked'].replace('NaN', np.nan)

In [51]:
df

,Product ID,Product Name,Category,Warehouse,Location,Quantity,Price,Supplier,Status,Last Restocked
0,1102,gadget y,Electronics,Warehouse 2,Aisle 1,300.0,9.99,Supplier C,In Stock,NaN
1,1435,gadget y,Electronics,Warehouse 2,Aisle 4,200.0,19.99,Supplier C,Out of Stock,NaN
2,1860,widget a,Clothing,Warehouse 2,Aisle 3,100.0,19.99,Supplier B,In Stock,20/12/2022
3,1270,gadget z,Toys,Warehouse 2,Aisle 4,50.0,49.99,Supplier B,In Stock,20/12/2022
4,1106,widget a,Furniture,Warehouse 3,Aisle 3,200.0,9.99,Supplier D,Out of Stock,25/04/2023
...,...,...,...,...,...,...,...,...,...,...
995,1009,widget b,Furniture,Warehouse 2,Aisle 2,100.0,NaN,Supplier C,In Stock,15/01/2023
996,1823,gadget y,Electronics,Warehouse 2,Aisle 3,300.0,19.99,Supplier B,In Stock,20/12/2022
997,1797,gadget z,Toys,Warehouse 3,Aisle 5,150.0,9.99,Supplier C,Low Stock,05/03/2023
998,1241,widget c,Furniture,Warehouse 2,Aisle 2,100.0,49.99,Supplier C,Low Stock,20/12/2022
999,1250,widget a,Clothing,Warehouse 1,Aisle 3,100.0,49.99,Supplier B,Out of Stock,20/12/2022

In [55]:
# filling NaN value with default value or strategy
df['Quantity'] = df['Quantity'].fillna(df['Quantity'].mean())
df['Price'] = df['Price'].fillna(df['Price'].mean())

In [75]:
# filling NaN values for categorical columns with placeholder
df['Category'] = df['Category'].fillna('Unknown Category')
df['Product Name'] = df['Product Name'].fillna('Unknown Product')
df['Warehouse'] = df['Warehouse'].fillna(df['Warehouse'].mode()[0])
df['Location'] = df['Location'].fillna('Unknown Location')
df['Supplier'] = df['Supplier'].fillna(df['Supplier'].mode()[0])
df['Status'] = df['Status'].fillna(df['Status'].mode()[0])
df['Last Restocked'] = df['Last Restocked'].fillna(pd.to_datetime('today'))

In [81]:
df.to_csv(r'C:\Users\Administrator\Desktop\alex the da\warehouse_messy_data.csv'
                )